.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  margin-top: 20px;
}

.login-form {
  text-align: center;
}

.trails-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.trail-card {
  width: 40rem;
}

.card-title-container {
  display: flex;
}

.card-title {
  width: 100%;
}

.card-buttons {
  display: flex;
}

.remove-button {
  background: url(icons/remove2.PNG);
  height: 34px;
  width: 34px;
}

.edit-button {
  background: url(icons/edit2.PNG);
  height: 34px;
  width: 34px;
}